<!DOCTYPE html>
<html lang="en">
<h>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add  product</title>
    <link rel="stylesheet" href="/public/abc/add-product.css" type="text/css">
    <script src="/public/abc/add-product-form.js" type="text/javascript"></script>

</head>
<body>
    <form action="/product/save" method="post">
        <p>Title: <input name="title"></p>
        <p>Price: <input type = "number" min="1" name="price"></p>
        <button>Add</button>
    </form>
</body>
</html>