<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="/public/abc/add-user.css" type="text/css">
    <script src="/public/abc/add-user-form.js" type="text/javascript"></script>
</head>
<body>
    <form action="/user/save" method="post">
        <p>FirstName: <input name="fname"></p>
        <p>LastName: <input name="lname"></p>
        <p>Address: <input name="address"></p>
        <p>Contact: <input name="contact"></p>
        <button>Add</button>
    </form>
</body>
</html>